<!DOCTYPE html>
<html>
    <head>
        <title>TPaaS Server Tester</title>
        <style>
            html {
                font-family: Arial;
            }
            pre {
                background-color: #EFEFEF;
                padding: 5px;
                margin: 5px 15px;
                max-width: 95vw;
                overflow-x: scroll;
            }
            .infotable td:first-child {
                font-weight: bold;
            }
            table.test_table {
                border-collapse: collapse;
                width: 100%;
            }
            table.test_table>tbody>tr>th {
                border: 1px solid black;
                background-color: #CDCDCD;
                padding: 3px;
            }
            table.test_table>tbody>tr>td {
                border: 1px solid black;
                padding: 3px;
                white-space: nowrap;
            }
            table.test_table>tbody>tr>td.not_run {
                color: #b3b300;
            }
            table.test_table>tbody>tr>td.running {
                color: blue;
            }
            table.test_table>tbody>tr>td.pass {
                color: green;
            }
            table.test_table>tbody>tr>td.fail {
                color: red;
            }
            div.resbox {
                max-height: 0px;
                overflow: hidden;
            }
            div.resbox[expand="true"] {
                max-height: inherit;
            }
            span.action {
                color: #0000EE;
                text-decoration: underline;
                cursor: pointer;
            }
        </style>
        <script>
            let current_response = null;
            async function run_test(testname) {
                // Prepare the test
                console.log('Running test "' + testname + '"');
                let status = document.querySelector('[statusfor="' + testname + '"]');
                status.className = "running";
                status.innerText = "Running";
                let response = document.querySelector('[responsefor="' + testname + '"]');
                current_response = response;
                // Invoke the test
                try {
                    let testres = await testmap[testname]();
                    console.log(testres);
                    if(testres) {
                        status.className = "pass";
                        status.innerText = "Pass";
                    } else {
                        status.className = "fail";
                        status.innerText = "Fail";
                    }
                } catch(e) {
                    status.className = "fail";
                    status.innerText = "Exception";
                    throw e;
                }
            }
            async function execute_request(url) {
                return new Promise(function(resolve, reject) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("GET", url);
                    xhr.onload = function() {
                        current_response.innerText = xhr.response;
                        resolve([this.status, JSON.parse(xhr.response)]);
                    }
                    xhr.onerror = function() {
                        reject([this.status, xhr.statusText]);
                    }
                    xhr.send();
                });
            }
            //================//
            // TEST FUNCTIONS //
            //================//
            let pin_for_test = undefined;
            async function run_all_tests() {
                for(test in testmap) {
                    await run_test(test);
                }
            }
            let testmap = {
                "status": test_api_status,
                "generate_pin": test_api_generate_pin,
                "dispense": test_api_dispense,
                "generate_pin_b": test_api_generate_pin_b,
                "missing_param": test_test_missing_param,
                "extra_param": test_test_extra_param,
                "handle_exception": test_test_handle_exception
            };
            async function test_api_status() {
                let result = await execute_request('/api/status');
                if(result[0] == 200 && result[1]['success']) {
                    return true;
                }
                return false;
            }
            async function test_api_generate_pin() {
                let result = await execute_request('/api/generate_pin');
                if(result[0] == 200 && result[1]['success']) {
                    if("pin" in result[1]['data']) {
                        console.log("Debug mode enabled! Got pin");
                        pin_for_test = result[1]['data']['pin'];
                    }
                    return true;
                }
                return false;
            }
            async function test_api_dispense() {
                if(pin_for_test == undefined) {
                    pin_for_test = prompt("Enter PIN");
                }
                let result = await execute_request('/api/dispense?auth=' + pin_for_test);
                console.log(result[1]['success'])
                if(result[0] == 200 && result[1]['success']) {
                    return true;
                }
                return false;
            }
            async function test_api_generate_pin_b() {
                let result = await execute_request('/api/generate_pin');
                if(result[0] == 200 && !result[1]['success'] && result[1]['reason'] == "Pin changed too recently") {
                    return true;
                }
                return false;
            }
            async function test_test_missing_param() {
                let result = await execute_request('/test/missing_param');
                if(result[0] == 200 && !result[1]['success']) {
                    if("exception_type" in result[1]['data']) {
                        if(result[1]['data']['exception_type'] == "MalformedResponseException") {
                            return true;
                        }
                    }
                }
                return false;
            }
            async function test_test_extra_param() {
                let result = await execute_request('/test/extra_param');
                if(result[0] == 200 && !result[1]['success']) {
                    if("exception_type" in result[1]['data']) {
                        if(result[1]['data']['exception_type'] == "MalformedResponseException") {
                            return true;
                        }
                    }
                }
                return false;
            }
            async function test_test_handle_exception() {
                let result = await execute_request('/test/handle_exception');
                if(result[0] == 200 && !result[1]['success']) {
                    if("exception_type" in result[1]['data'] && "exception_msg" in result[1]['data']) {
                        if(result[1]['data']['exception_type'] == "Exception" && result[1]['data']['exception_msg'] == "Test Exception!") {
                            return true;
                        }
                    }
                }
                return false;
            }
            //==============//
            // MISC HELPERS //
            //==============//
            function showhide(testname) {
                let container = document.querySelector('[responsefor="' + testname + '"]').parentElement;
                if(container.getAttribute("expand") == "true") {
                    container.setAttribute("expand", "false");
                } else {
                    container.setAttribute("expand", "true");
                }
            }
        </script>
    </head>
    <body>
        <h1>TPaaS Server Tester</h1>
        <table class="infotable">
            <tr>
                <td>Branch:</td>
                <td>{{ branch }}</td>
            </tr>
            <tr>
                <td>Commit:</td>
                <td>{{ commit }}</td>
            </tr>
            <tr>
                <td>Clean:</td>
                <td>{{ clean }}</td>
            </tr>
        </table>
        <hr>
        <span class="action" onclick="run_all_tests()">Run All Tests</span>
        <table class="test_table">
            <tr>
                <th style="width: 150px">Test Name</th>
                <th style="width: 150px">Result</th>
                <th style="width: 150px">Actions</th>
                <th></th>
            </tr>
            <!-- /api/status -->
            <tr>
                <td>Test <code>/api/status</code></td>
                <td class="not_run" statusfor="status">Not Run</td>
                <td>
                    <span class="action" onclick="run_test('status')">Run</span>
                    <span class="action" onclick="showhide('status')">Results</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan=4>
                    <div class="resbox">
                        Result:
                        <pre responsefor="status"></pre>
                    </div>
                </td> 
            </tr>
            <!-- /api/generate_pin -->
            <tr>
                <td>Test <code>/api/generate_pin</code></td>
                <td class="not_run" statusfor="generate_pin">Not Run</td>
                <td>
                    <span class="action" onclick="run_test('generate_pin')">Run</span>
                    <span class="action" onclick="showhide('generate_pin')">Results</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan=4>
                    <div class="resbox">
                        Result:
                        <pre responsefor="generate_pin"></pre>
                    </div>
                </td> 
             </tr>
            <!-- /api/dispense -->
            <tr>
                <td>Test <code>/api/dispense</code></td>
                <td class="not_run" statusfor="dispense">Not Run</td>
                <td>
                    <span class="action" onclick="run_test('dispense')">Run</span>
                    <span class="action" onclick="showhide('dispense')">Results</span>
                </td>
                <td></td>
            </tr>
            <tr class="resrow">
                <td colspan=4>
                    <div class="resbox">
                        Result:
                        <pre responsefor="dispense"></pre>
                    </div>
                </td> 
             </tr>
            <!-- /api/generate_pin second -->
            <tr>
                <td>Test <code>/api/generate_pin</code> rate limit</td>
                <td class="not_run" statusfor="generate_pin_b">Not Run</td>
                <td>
                    <span class="action" onclick="run_test('generate_pin_b')">Run</span>
                    <span class="action" onclick="showhide('generate_pin_b')">Results</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan=4>
                    <div class="resbox">
                        Result:
                        <pre responsefor="generate_pin_b"></pre>
                    </div>
                </td> 
             </tr>
            <!-- /test/missing_param -->
            <tr>
                <td>Test <code>/test/missing_param</code></td>
                <td class="not_run" statusfor="missing_param">Not Run</td>
                <td>
                    <span class="action" onclick="run_test('missing_param')">Run</span>
                    <span class="action" onclick="showhide('missing_param')">Results</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan=4>
                    <div class="resbox">
                        Result:
                        <pre responsefor="missing_param"></pre>
                    </div>
                </td> 
             </tr>
            <!-- /test/extra_param -->
            <tr>
                <td>Test <code>/test/extra_param</code></td>
                <td class="not_run" statusfor="extra_param">Not Run</td>
                <td>
                    <span class="action" onclick="run_test('extra_param')">Run</span>
                    <span class="action" onclick="showhide('extra_param')">Results</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan=4>
                    <div class="resbox">
                        Result:
                        <pre responsefor="extra_param"></pre>
                    </div>
                </td> 
             </tr>
            <!-- /test/handle_exception -->
            <tr>
                <td>Test <code>/test/handle_exception</code></td>
                <td class="not_run" statusfor="handle_exception">Not Run</td>
                <td>
                    <span class="action" onclick="run_test('handle_exception')">Run</span>
                    <span class="action" onclick="showhide('handle_exception')">Results</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan=4>
                    <div class="resbox">
                        Result:
                        <pre responsefor="handle_exception"></pre>
                    </div>
                </td> 
             </tr>
        </table>
    </body>
</html>
